footer {
  h2 {
    transition: transform 0.3s ease;
    animation: swing 1s forwards;

    &:hover {
      animation: swing 0.5s ease infinite;
    }

    @keyframes swing {
      0% {
        transform: rotate(0deg);
        /* 初始狀態 */
      }

      25% {
        transform: rotate(-5deg);
        /* 向左搖擺 */
      }

      50% {
        transform: rotate(5deg);
        /* 向右搖擺 */
      }

      75% {
        transform: rotate(-5deg);
        /* 再次向左搖擺 */
      }

      100% {
        transform: rotate(0deg);
        /* 回到初始狀態 */
      }
    }
  }

  a {
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: #000000;
  }

  .footer-top {
    padding: 73px 0 56px 0;
  }

  .footer-bottom {
    text-align: center;
    padding: 39px 0 48px 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    border-top: 2px solid #dbdbdb;
  }

  ul {
    margin: 0 -30px;
    width: 10%;

    li {
      position: relative;
      display: inline-block;
      width: 50%;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 4px;
        background-color: #4ba87d;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }

      a {
        padding: 10px;
      }
    }
  }
}

@media (max-width: 576px) {
  footer {
    .footer-top {
      padding: 47px 0 23px 0;
    }

    .footer-bottom {
      text-align: start;
      flex-direction: column;
      padding: 22px 0 55px 0;

      >div:nth-child(1) {
        margin-bottom: 20px;
      }
    }
  }
}