body {
  font-family: Raleway;
}

h1,
h2,
h3,
h4,
h5,
ul,
li,
p {
  margin: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
}

// ---------------------------------------------

.background-Bg-Img {
  background-image: url("../images/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 220vh;
}

// ---------------------------------------------
.banner {
  padding: 103px 0 120px 0;

  h2 {
    font-family: Playfair Display;
    font-size: 59px;
    font-weight: 900;
    line-height: 71px;
    margin-bottom: 23px;
  }

  h5 {
    font-size: 19px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 35px;
  }

  a {
    font-size: 21px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1.0499999523162842px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:nth-child(1) {
      padding: 20px 48px;
      background-color: #4ba87d;
      color: #ffffff;
      margin-right: 45px;
    }

    &:nth-child(2) {
      padding: 18px 28px;
      background-color: #ffffff;
      color: #4ba87d;
      border: 3px solid #4ba87d;
    }

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
  }

  img {
    max-width: 680px;
    max-height: 383px;
  }

  .bannerText {
    max-width: 489px;
  }

  .bannerImg {
    z-index: -1;
    left: 360px;
    top: -15px;
  }

  .bannerWrap {
    margin: 0 auto;
  }
}

@media (max-width:992px) {
  .banner {
    img {
      max-width: 445px;
      max-height: 220px;
    }
  }

}

@media (max-width:576px) {
  .banner {
    padding: 80px 0 42px 0;

    h2 {
      top: -60px;
      left: 0;
    }

    h5 {
      margin-bottom: 16px;
    }

    .bannerWrap-sm {
      ul {
        gap: 14px;

        li {
          &:nth-child(1) a {
            background-color: #4ba87d;
            color: #ffffff;
            margin: 0;
            padding: 12px 0;
          }

          &:nth-child(2) a {
            background-color: #ffffff;
            color: #4ba87d;
            border: 3px solid #4ba87d;
            margin: 0;
            padding: 9px 0;
          }
        }
      }
    }
  }
}

// ---------------------------------------------

.reachMore {
  padding: 120px 0 80px 0;

  .reachMoreBg {
    background-image: url("../images/VIDEO.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 944px;
    max-height: 531px;
    padding: 162px 0;
  }

  h2 {
    font-family: Playfair Display;
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
    color: #ffffff;
    padding-bottom: 60px;
  }

  a {
    font-family: Raleway;
    font-size: 21px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1.0499999523162842px;
    color: #ffffff;
    background-color: #4ba87d;
    padding: 20px 32px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
  }
}

@media (max-width:576px) {
  .reachMore {
    padding: 0 0 33px 0;

    .reachMoreBg {
      padding: 48px 0 52px;
    }
  }
}

// ---------------------------------------------
.emailCampaigns {
  padding: 20px 0 133px;

  h3 {
    font-family: Playfair Display;
    font-size: 44px;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 24px;
  }

  p {
    font-size: 19px;
    font-weight: 400;
    line-height: 26px;
  }

  img {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
  }

  .card {
    box-shadow: 0px 8px 16px 0px #00000029;
    max-width: 320px;

    .card-text {
      a {
        font-size: 16px;
        font-weight: 800;
        line-height: 19px;
        text-align: left;
        color: #4ba87d;
        margin-top: 20px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }

      h5 {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: #000000;
      }
    }
  }

  .card-left {
    margin-bottom: 140px;
  }

  .card-text {
    padding: 24px 30px 20px 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
}

@media (max-width:768px) {
  .emailCampaigns {
    padding: 0 0 80px 0;

    .card-wrap-right {
      margin-left: auto;
    }

    .card-left {
      margin: 0 0 14px 0;
    }


    h3 {
      margin-top: 18px;
    }
  }
}

// ---------------------------------------------
.bestBrands {
  padding-bottom: 146px;

  h2 {
    font-family: Playfair Display;
    font-size: 44px;
    font-weight: 900;
    line-height: 48px;
    padding-bottom: 50px;
  }

  ul {
    gap: 50px;
  }

  li {
    transition: transform 0.3s ease;

    &:hover {
      transform: translate(-4px, -4px);
    }
  }
}

@media (max-width:576px) {
  .bestBrands {
    padding-bottom: 58px;
  }
}

// ---------------------------------------------
.joinOurList {
  padding-bottom: 75px;

  a {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:not(.no-hover):hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
  }

  h2 {
    font-family: Playfair Display;
    font-size: 44px;
    font-weight: 900;
    line-height: 48px;
    margin: 40px 0 30px;

  }

  h4 {
    font-size: 34px;
    font-weight: 900;
    line-height: 40px;
    color: #ffffff;
  }

  h5 {
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
    color: #ffffff;
  }

  li {
    a {
      position: relative;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .joinOurList-ImgText {
    position: absolute;
    bottom: 27px;
    left: 27px;
  }

  a {
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1.0499999523162842px;
    color: #4ba87d;
  }

  .joinOurList-Btn {
    margin-bottom: 20px;

    input {
      padding: 20px 0 20px 25px;
      border: 1px solid #9F9F9F;
      border-radius: 5px;
      margin-right: 27px;
      font-size: 21px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 1.0499999523162842px;
    }

    a {
      font-size: 21px;
      font-weight: 900;
      line-height: 25px;
      letter-spacing: 1.0499999523162842px;
      background-color: #4ba87d;
      color: #ffffff;
      padding: 20px 30px;
      transition: transform 0.3s ease;
    }
  }

  .joinOurList-footer {
    margin-right: 300px;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width:576px) {
  .joinOurList {
    padding-bottom: 54px;

    ul {
      gap: 20px;
    }

    h2 {
      max-width: 60px 0 30px;
    }

    .joinOurList-Btn {
      text-align: center;
      margin-bottom: 0;

      .joinOurList-footer {
        margin: 0;
        background-color: #ffffff;
        color: #4ba87d;
      }

      a {
        padding: 14px 22px;
      }

      input {
        padding: 14px;
        margin: 0;
      }
    }


  }
}

// ---------------------------------------------
.getStarted {
  padding: 82px 0 95px 0;
  background-color: #4ba87d;

  h2 {
    font-family: Playfair Display;
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
    margin-bottom: 40px;
  }

  a {
    padding: 14px 23px;
    background-color: #ffffff;
    color: #4ba87d;
    font-size: 21px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1.0499999523162842px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
  }
}

@media (max-width:576px) {
  .getStarted {
    padding: 43px 0 59px 0;
  }

}